<a href="https://colab.research.google.com/github/KiranTanwani/Machine-Learning/blob/main/Decision_Tree_And_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import numpy as np #helps in mathematical operations
import matplotlib.pyplot as plt #helps in plotting of graph
import pandas as pd #helps in making dataframes and importing csv files

In [ ]:
from google.colab import drive #to import google drive data

In [ ]:
drive.mount('/content/drive') # mount the drive on colab using authentication

Mounted at /content/drive

In [ ]:
cd /content/drive/"My Drive/Colab Notebooks/Random Forest"

/content/drive/My Drive/Colab Notebooks/Random Forest

In [ ]:
#Reading the csv file
features=pd.read_csv('temps.csv')

In [ ]:
features.head(5)

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [ ]:
#Seeing the overall values of the features.
features.describe()

         year       month         day  ...  forecast_acc  forecast_under      friend
count   348.0  348.000000  348.000000  ...    348.000000      348.000000  348.000000
mean   2016.0    6.477011   15.514368  ...     62.373563       59.772989   60.034483
std       0.0    3.498380    8.772982  ...     10.549381       10.705256   15.626179
min    2016.0    1.000000    1.000000  ...     46.000000       44.000000   28.000000
25%    2016.0    3.000000    8.000000  ...     53.000000       50.000000   47.750000
50%    2016.0    6.000000   15.000000  ...     61.000000       58.000000   60.000000
75%    2016.0   10.000000   23.000000  ...     72.000000       69.000000   71.000000
max    2016.0   12.000000   31.000000  ...     82.000000       79.000000   95.000000

[8 rows x 11 columns]

In [ ]:
features=pd.get_dummies(features)
features.head(5)

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]

In [ ]:
features.shape

(348, 18)

In [ ]:
labels=np.array(features['actual'])

In [ ]:
features=features.drop('actual',axis=1)

In [ ]:
features

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 17 columns]

In [ ]:
#Creating the feature list having the names of features
feature_list=list(features.columns)
features=np.array(features)

In [ ]:
feature_list

['year',
 'month',
 'day',
 'temp_2',
 'temp_1',
 'average',
 'forecast_noaa',
 'forecast_acc',
 'forecast_under',
 'friend',
 'week_Fri',
 'week_Mon',
 'week_Sat',
 'week_Sun',
 'week_Thurs',
 'week_Tues',
 'week_Wed']

In [ ]:
#importing the training and testing dataset split feature from sklearn
from sklearn.model_selection import train_test_split

In [ ]:
#Dividing the dataset in test and train datasets.
train_features,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=42)

In [ ]:
train_features.shape

(261, 17)

In [ ]:
test_labels.shape

(87,)

In [ ]:
#importing the random forest model from sklearn
from sklearn.ensemble import RandomForestRegressor

In [ ]:
#creating the random forest model
rf=RandomForestRegressor(n_estimators=1000,random_state=42)

In [ ]:
#fit the model with the given training dataset
rf.fit(train_features,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
#Testing the model
predictions=rf.predict(test_features)

In [ ]:
#Calculating the error
errors=abs(predictions-test_labels)

In [ ]:
#Mean absolute percentage error
mape=100*(errors/test_labels)

mean_error=np.mean(mape)

In [ ]:
#Finding the accuracy
accuracy=100-mean_error

In [ ]:
accuracy

93.9325320799977

In [ ]:
#To plot the tree
from sklearn.tree import export_graphviz
import pydot

In [ ]:
#Giving the number of decision to be plotted
tree=rf.estimators_[5]
export_graphviz(tree,out_file='tree.dot',feature_names=feature_list,rounded=True,precision=1)

In [ ]:
#Saving the tree in drive
(graph,)=pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png');