<a href="https://colab.research.google.com/github/KiranTanwani/Machine-Learning/blob/main/Jester_Dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.9 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619443 sha256=5efad0424191b2104213cdfa213115f4c9e5f93655c09ba69f73ec5edc3a55c7
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [3]:
import numpy as np
import pandas as pd
from surprise import SVD, KNNBasic, Dataset, Reader, NMF
from surprise.model_selection import cross_validate

In [5]:
from google.colab import drive # to import Google drive
drive.mount('/content/drive') # mounting Google drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
cd /content/drive/"My Drive/Colab Notebooks/AI Assignment"

/content/drive/My Drive/Colab Notebooks/AI Assignment

In [7]:
df=pd.read_csv("jester-data-1.csv")
df=df.drop(['Number of Ratings'],axis=1)

In [8]:
df

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [9]:
df2=df
df2

       UserID    J1    J2    J3    J4    J5  ...   J95   J96   J97   J98     J  J100
0          U1 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1          U2  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2          U3   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3          U4   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4          U5  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24978  U24979  0.44  7.43  9.08  2.33  3.20  ...  8.45  9.03  6.55  8.69  8.79  7.43
24979  U24980  9.13 -8.16  8.59  9.08  0.87  ...  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980  U24981   NaN   NaN   NaN   NaN -7.77  ...   NaN   NaN   NaN   NaN   NaN   NaN
24981  U24982   NaN   NaN   NaN   NaN -9.71  ...   NaN   NaN   NaN   NaN   NaN   NaN
24982  U24983  2.43  2.67 -3.98  4.27 -2.28  ...   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 101 columns]

In [10]:
colname=df2.columns[1:101]

In [11]:
df3=(df.values)   #df2[:,1:102]

In [12]:
ratings=(df3[:,1:102].ravel())
ratings.size

2498300

In [13]:
a=[]

for i in range (1,24984):
    a=a+[i]

In [14]:
b=[]
for i in range(100):
  b.extend(a)

In [15]:
b.sort()

In [16]:
jokes=[]

for i in range (1,101):
    jokes=jokes+[str(i)]

In [17]:
users=b   #length=2498300
movies=jokes*24983   #length=2498300 

ratings_dict={'userID':users,
              'itemID':movies,
              'rating':ratings}

df=pd.DataFrame(ratings_dict)

In [18]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498295   24983     96    NaN
2498296   24983     97    NaN
2498297   24983     98    NaN
2498298   24983     99    NaN
2498299   24983    100    NaN

[2498300 rows x 3 columns]

In [19]:
df.dropna(inplace=True)

In [20]:
df

         userID itemID rating
0             1      1  -7.82
1             1      2   8.79
2             1      3  -9.66
3             1      4  -8.16
4             1      5  -7.52
...         ...    ...    ...
2498267   24983     68   7.48
2498268   24983     69   5.15
2498269   24983     70    3.2
2498270   24983     71   6.26
2498286   24983     87   7.23

[1810455 rows x 3 columns]

In [21]:
df=df.iloc[0:1000000]

In [22]:
#write df in place of newdf for final run
reader=Reader(rating_scale=(-10,10))
trainset=Dataset.load_from_df(df[['userID','itemID','rating']],reader).build_full_trainset()

In [23]:
#write df in place of newdf for final run
data=Dataset.load_from_df(df[['userID','itemID','rating']],reader)

In [24]:
!pip install memory_profiler

Collecting memory_profiler
  Downloading memory_profiler-0.58.0.tar.gz (36 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from memory_profiler) (5.4.8)
Building wheels for collected packages: memory-profiler
  Building wheel for memory-profiler (setup.py) ... done
  Created wheel for memory-profiler: filename=memory_profiler-0.58.0-py3-none-any.whl size=30190 sha256=055ca4ebeb653096fa7bde4ef2a44be67bf3fc142eb6bf6bdcb4fb7fd1fd9be1
  Stored in directory: /root/.cache/pip/wheels/56/19/d5/8cad06661aec65a04a0d6785b1a5ad035cb645b1772a4a0882
Successfully built memory-profiler
Installing collected packages: memory-profiler
Successfully installed memory-profiler-0.58.0

In [25]:
%load_ext memory_profiler

In [26]:
algo_svd=SVD()

In [27]:
%memit cross_validate(algo_svd,data,measures=['rmse','mae'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.0551  4.0741  4.0707  4.0743  4.0884  4.0725  0.0106
MAE (testset)     3.1418  3.1616  3.1610  3.1627  3.1723  3.1599  0.0100
Fit time          53.23   53.24   53.24   53.36   53.20   53.25   0.05
Test time         4.11    3.72    3.55    4.08    3.62    3.81    0.23
peak memory: 1077.55 MiB, increment: 291.42 MiB

In [28]:
from surprise import KNNBasic
algo_knn=KNNBasic()

In [29]:
%memit cross_validate(algo_knn,data,measures=['rmse','mae'],cv=5,verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.1464  4.1660  4.1599  4.1567  4.1587  4.1575  0.0064
MAE (testset)     3.2717  3.2858  3.2819  3.2777  3.2785  3.2791  0.0047
Fit time          589.17  652.44  635.43  661.62  634.89  634.71  24.95
Test time         1608.32 1598.50 1559.31 1571.56 1536.11 1574.76 26.20
peak memory: 7110.10 MiB, increment: 6101.34 MiB